  <!-- Display error messages -->
  <% if (errors && errors.length > 0) { %>
    <div class="container">
        <% errors.forEach(msg => { %>
            <div class="alert alert-danger">
              <p><%= msg %></p>
            </div>
        <% }) %>
    </div>
<% } %>

<!-- Display success messages -->
<% if (success && success.length > 0) { %>
  <div class="alert alert-success">
    <!-- array of strings -->
    <% success.forEach(msg => { %>
        <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>