<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Sign Up</h1>

  <!-- Display success messages -->
  <% if (success && success.length > 0) { %>
    <div class="success">
    <!-- array of strings -->
    <% success.forEach(msg => { %>
        <p><%= msg %></p>
    <% }) %>
    </div>
  <% } %>

    <!-- Display error messages -->
    <% if (errors && errors.length > 0) { %>
      <div style="color: red;">
          <div class="error">
              <% errors.forEach(msg => { %>
                  <p><%= msg %></p>
                  <!-- <br> -->
              <% }) %>
          </div>
      </div>
  <% } %>

  <form action="/auth/signup" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword">
    </div>
    <button type="submit">Register</button>
  </form>
</body>
</html>